{% extends 'base.html' %}

{% block container %}

    <div id=back class=container>
        <div id=ab>
            <h1>Resources Annotator, Visualizer and Enhancer</h1>
            <h5>Progetto del corso di Tecnologie Web 2016/2017, corso di laurea triennale in Informatica.</h5><br>
            <p>
                <span class='text-success'>Visualizer</span>: versione base del progetto, permette di visualizzare in maniera interessante dati recuperati da due semplici API, per creare rappresentazioni flessibili e comprensibili di fenomeni complessi.
                <br><br>
                <span class='text-success'>Annotator</span>: progetto standard, permette di aggiungere alle visualizzazioni commenti e annotazioni create dall'utente.
            </p>
        </div>
    </div>
      <hr class="featurette-divider"></hr>
    {% endblock %}